@import url('https://fonts.googleapis.com/css2?family=Kantumruy+Pro:ital,wght@0,100..700;1,100..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-family: "Kantumruy Pro", sans-serif;
    background-color: #fff;
    color: #000;
    overflow-x: hidden;
}

.imagem-principal {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
}

#fotoDestaque {
    width: 100%;
    max-width: 1400px;
    height: auto;
    display: block;
    object-fit: cover;
}

.botao-saiba-mais {
    margin-top: 20px;
    padding: 12px 20px;
    font-size: 18px;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.3s;
}

.botao-saiba-mais:hover {
    background-color: #444;
}

.boas-vindas {
    text-align: center;
    margin: 40px 0;
}

.boas-vindas input {
    padding: 10px;
    font-size: 18px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.boas-vindas p {
    margin-top: 10px;
    font-size: 20px;
    color: #333;
}

.modelos {
    padding: 60px;
    align-items: center;
}